In [1]:
import pandas as pd

In [21]:
#data = pd.read_csv("filtered.csv", parse_dates=["ISSUE_DATE"], index_col="ISSUE_DATE")
#data_filtered = data[["ID", "PERMIT#","PERMIT_TYPE","LOCATION"]]
#data_filtered.head(10)
data_filtered.dropna(axis=1)
data_filtered.head(10)

,ID,PERMIT#,PERMIT_TYPE,LOCATION
ISSUE_DATE,,,,
2010-06-14,2015693,100276612,PERMIT - NEW CONSTRUCTION,POINT (-87.674174892458 41.794585510718)
2009-07-16,2053303,100293285,PERMIT - NEW CONSTRUCTION,POINT (-87.680810482774 41.935473195894)
2020-11-10,3125307,100876352,PERMIT - NEW CONSTRUCTION,NaN
2020-07-01,3110706,100864812,PERMIT - NEW CONSTRUCTION,NaN
2009-08-31,2068267,100300715,PERMIT - NEW CONSTRUCTION,POINT (-87.654962895673 41.930475362051)
2009-10-16,2085720,100309770,PERMIT - NEW CONSTRUCTION,POINT (-87.663257587952 41.927708126734)
2010-05-20,2144220,100330282,PERMIT - NEW CONSTRUCTION,POINT (-87.642356833022 41.919720567455)
2010-04-01,2148662,100332373,PERMIT - NEW CONSTRUCTION,POINT (-87.658903158388 41.933859992051)
2010-10-27,2202109,100360924,PERMIT - NEW CONSTRUCTION,POINT (-87.672443376774 41.937021029941)
2011-07-18,2217763,100368953,PERMIT - NEW CONSTRUCTION,POINT (-87.67398785671 41.90407137076)